.banner {
  width: 100%;
  min-height: 2.2rem;
  text-align: center;
  padding: 1rem;
  background-color: #DFED33; // yellow from p5.js website
  border-bottom: 1px solid #000;

  a {
    color: $black;
  }

  a:hover {
    color: $black;
    text-decoration: underline;
  }

  @media (max-width: 770px) {
    min-height: 3.3rem;
  }
}

.banner-close-button {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 20px;
  width:20px;
  float: right;
}